<div class="row">
  <div class="small-12 medium-8 medium-centered columns">
    <div class="row">
      <div class="small-12 columns">
        <div><img src="img/ARMmbedLogo.png" alt="ARM mbed"></div>
        <h1>Light Control</h1>
      </div>
    </div>
    <div class="row">
      <div id="outlets" class="small-12 columns">
      </div>
    </div>
  </div>
</div>
