<div class="row margin">
  <div class="small-12 medium-8 medium-centered columns">
    <div><img src="img/ARMmbedLogo.png" alt="ARM mbed"></div>
  </div>
</div>
<div class="blueband">
  <div class="row">
    <div class="small-12 medium-8 medium-centered columns">
      <h1>Light Control</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-8 medium-centered columns">
    <div class="row">
      <div id="outlets" class="small-12 columns">
      </div>
    </div>
  </div>
</div>
