<div class="row">
  <div class="small-12 columns">
    <h1>Light Control</h1>
    <h3>Powered by <a href="http://mbed.com">mbed</a></h3>
  </div>
</div>
<div class="row">
  <div id="outlets" class="small-12 columns">
  </div>
</div>
